.content-Login {
  background-image: url("../resources/background.jpg");
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  vertical-align: middle;
  justify-content: center;
  display: inline-block;
  min-width: 100px;
  position: relative;
}
.register {
  color: #e9a237;
}
.register:hover {
  color: #b88538;
}
#buttonLogin {
  background-color: #e9a237;
}
#buttonLogin:hover {
  background-color: #b88538;
}
.loginBox {
  background-color: #616060;
  height: auto;
  width: auto;
  margin: auto;
  vertical-align: middle;
}
.loginBox img {
  height: 200px;
  width: 15vw;
  margin-bottom: 15px;
  object-fit: contain;
}
