.content-Login {
  background-image: url("../resources/background.jpg");
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  vertical-align: middle;
  justify-content: center;
  overflow-y :auto;
  display: inline-block;
  min-width: 100px;
  position: relative;
  overflow: hidden;
  
}
.box {
  background-color: rgb(97, 96, 96);
  height: auto;
  width: auto;
  margin: auto;
  margin-top: 10%;
  vertical-align: middle;
}
.box img {
  height: 200px;
  width: 15vw;
  margin-bottom: 15px;
  object-fit: contain;
}
.register {
  color: rgb(233, 162, 55);
}
.register:hover {
  color: rgb(184, 133, 56);
}
#buttonLogin {
  background-color: rgb(233, 162, 55);
}
#buttonLogin:hover {
  background-color: rgb(184, 133, 56);
}
