#navbarLogo {
    margin : 4px;
    width: auto;
    height: auto;
}

#navbarLogoLink:hover {
    background-color: hsl(0, 0%, 23%) !important;
}

.navbarButtons {
    background-color: hsl(0, 0%, 21%) !important;
    border-color: transparent !important;
    color: #e6e6e6 !important;
}

.navbarButtons:hover {
    background-color: hsl(0, 0%, 25%) !important;
    border-color: transparent !important;
    color: white !important;
}

#PageNavbar {
    margin-bottom: 50px;
}

.userIcon {
    font-size: large;
    margin-right: 0.5rem;
}

.userName {
    max-width: 120px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.inversedColors {
    color : rgba(rgb(226, 226, 226), 0.8);
}

.inversedColors:hover {
    color : rgba(rgb(255, 255, 255), 1);
}

.helloTributeUsername {
    color : rgba(rgb(226, 226, 226), 0.8) !important;
}

.helloTributeUsername:hover {
    color : rgba(rgb(255, 255, 255), 1) !important;
}