.orderCardImageActive {
  width: 350px;
  height: 210px;
  object-fit: fill;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: 0;
}
.inactiveOrderText {
  width: 350px;
  position: absolute;
  top: 12.4px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  text-align: center;
  padding: 5.67rem;
  font-size: larger;
  color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.orderCardText {
  padding: 1.25rem;
  padding-top: 0;
  padding-bottom: 0.8rem;
}
.OrderBoxActive {
  background-color: #383838 !important;
  padding: 0;
  -webkit-box-shadow: 0px 7px 15px -0.9px #161616;
  -moz-box-shadow: 0px 7px 15px -0.9px #161616;
  box-shadow: 0px 7px 15px -0.9px #161616;
  transition: 0.5s ease-in;
}
.OrderBoxActive:hover {
  -webkit-box-shadow: 0px 7px 15px -0.9px rgba(212, 121, 17, 0.5);
  -moz-box-shadow: 0px 7px 15px -0.9px rgba(212, 121, 17, 0.5);
  box-shadow: 0px 7px 15px -0.9px rgba(212, 121, 17, 0.5);
  transition: 0.5s ease-out;
}
.OrderBoxInactive {
  background-color: #313131 !important;
  padding: 0;
  -webkit-box-shadow: 0px 7px 15px -0.9px #161616;
  -moz-box-shadow: 0px 7px 15px -0.9px #161616;
  box-shadow: 0px 7px 15px -0.9px #161616;
  transition: 0.3s ease-in;
}
.OrderBox:hover {
  -webkit-box-shadow: 0px 7px 15px -4px rgba(212, 121, 17, 0.5);
  -moz-box-shadow: 0px 7px 15px -4px rgba(212, 121, 17, 0.5);
  box-shadow: 0px 7px 15px -4px rgba(212, 121, 17, 0.5);
}
.OrderBoxInactive:hover {
  -webkit-box-shadow: 0px 7px 15px -1px #000;
  -moz-box-shadow: 0px 7px 15px -1px #000;
  box-shadow: 0px 7px 15px -1px #000;
  transition: 0.3s ease-out;
}
.OrderBoxInactive:hover .inactiveOrderText {
  color: #fff;
}
#restaurantTitle {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#placedByText {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.customHeroHead {
  margin-top: 2rem;
}
