@charset "utf-8";

#PageLoaderDiv {
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 12, 12);

    // centering image
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#PageLoaderGif {
    object-fit: contain;

    //pentru margini blurate, dar aparent *nu* merge
    border: solid 7px rgba(rgb(22, 22, 22), .2);
    background-size: cover;
    background-clip: border-box;
    background-origin: padding-box;
}

@import '../index.scss';