#PageLoaderDiv {
    width: 100vw;
    height: 100vh;

    background-color: black;

    // centering image
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-style: none;
}