.noItemsFoundCard {
    background-color: hsl(0, 0%, 22%) !important;
    color : rgba(rgb(226, 226, 226), 1) !important;
    -webkit-box-shadow: 0px 0px 6px 3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 6px 3px rgb(0, 0, 0);
    box-shadow: 0px 0px 6px 3px rgba(rgb(20, 20, 20), 0.9);
}