.customFoodPaymentImage {
    width : 150px;
    height : 190px;
    object-fit: cover;

    align-self: center;

    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: 0;
}

.CustomBoxRed {
    height: 190px;
    width: 450px;
    background-color: hsl(0, 0%, 21%);
    padding : 0;
    -webkit-box-shadow: 15px 0px 15px -15px rgba(rgb(255, 0, 0), 0.9), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);
    -moz-box-shadow: 15px 0px 15px -15px rgba(rgb(255, 0, 0), 0.91), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);
    box-shadow: 15px 0px 15px -15px rgba(rgb(255, 0, 0), 0.9), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);

    /* aparent este nevoie si de astea ca sa fie intotdeauna rotunjit acolo */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.CustomBoxRed:hover {
    -webkit-box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(255, 0, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
    -moz-box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(255, 0, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
    box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(255, 0, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
}

.CustomBoxGreen {
    height: 190px;
    width: 450px;
    background-color: hsl(0, 0%, 21%);
    padding : 0;
    -webkit-box-shadow: 15px 0px 15px -15px rgba(rgb(21, 255, 0), 0.9), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);
    -moz-box-shadow: 15px 0px 15px -15px rgba(rgb(21, 255, 0), 0.9), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);
    box-shadow: 15px 0px 15px -15px rgba(rgb(21, 255, 0), 0.9), 0px 10px 15px -7px rgba(rgb(22, 22, 22), 1);

    /* aparent este nevoie si de astea ca sa fie intotdeauna rotunjit acolo */
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.CustomBoxGreen:hover {
    -webkit-box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(21, 255, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
    -moz-box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(21, 255, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
    box-shadow: 0px 10px 15px -7px rgba(hsl(32, 85%, 45%), 0.5), 15px 0px 15px -15px rgba(rgb(21, 255, 0), 1), -15px 0px 15px -10px rgba(rgb(22, 22, 22), 1);
}

.UserOrderDetails {
    height: 190px;
    width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.singleOrderFoodName {
    background-color: transparent;
    border-style: none;
    padding: 0;

    overflow: hidden;
}

.userOrderDetailsText {
    font-size: smaller !important;
}

.userOrderPaymentDetails {
    background-color: transparent;
    border-style: none;
}

.userOrderPaymentDetailsTD {
    border-style: none !important;
}

.orderedByContainer {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.7rem;

    border-bottom: 1px solid rgba(rgb(255, 255, 255), 0.1);
}

.financeInputField {
    max-width: 55px;
    max-height: 26px;
    padding: 0 !important;
    padding-bottom: 0.5rem !important;
    font-size: inherit !important;
}

.littleExtraPaddingRight {
    padding-right: 1rem !important;
}

.cardActionsLevel {
    margin-bottom: 0 !important;
}

.paymentCardActionIcon {
    font-size: xx-small;
    color : rgba(rgb(122, 122, 122), 1);
}

.paymentCardActionIcon:hover {
    font-size: x-small;
    color : rgba(rgb(181, 181, 181), 1);
}