.restaurantHeader {
    color : hsl(0, 0%, 12%);
    background-color: rgba(rgb(213, 99, 7), 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding : 1rem;
    -webkit-box-shadow: 0px 14px 15px -0.9px rgba(rgb(14, 14, 14), 1);
    -moz-box-shadow: 0px 14px 15px -0.9px rgba(rgb(14, 14, 14), 1);
    box-shadow: 0px 14px 15px -0.9px rgba(rgb(14, 14, 14), 1);
    margin-bottom: 3rem;
}

.foodContainer {
    margin: 0.2%;
    color : hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 23%);
    border-radius: 10px;
    padding : 1rem;
    margin-bottom: 0.3rem !important;
    max-height: 163px;

    -webkit-box-shadow: 0px 8px 44px -7px rgba(rgb(17, 17, 17), 0.8);
    -moz-box-shadow: 0px 8px 44px -7px rgba(rgb(17, 17, 17), 0.8);
    box-shadow: 0px 8px 44px -7px rgba(rgb(17, 17, 17), 0.8);

    transition: .2s ease-in;
}

.foodContainer:hover {
    margin: 0%;
    color : hsl(0, 0%, 12%);
    background-color: hsl(0, 0%, 23%);
    border-radius: 10px;
    padding-left : 1rem;
    max-height: 163px;
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;

    -webkit-box-shadow: 0 1px 14px -1px rgba(hsl(32, 85%, 45%), 0.8);
    -moz-box-shadow: 0 1px 14px -1px rgba(hsl(32, 85%, 45%), 0.8);
    box-shadow: 0 1px 14px -1px rgba(hsl(32, 85%, 45%), 0.8);

    transition: .2s ease-out;
}