.restaurantHeader {
  color: #1f1f1f;
  background-color: #d47911;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.foodContainer {
  margin: 0.2%;
  color: #1f1f1f;
  background-color: #3b3b3b;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.3rem !important;
  max-height: 163px;
}
.foodContainer:hover {
  margin: 0%;
  color: #1f1f1f;
  background-color: #3b3b3b;
  border-radius: 10px;
  padding-left: 1rem;
  box-shadow: 0 0 15px -0.9px rgba(212, 121, 17, 0.7);
  max-height: 163px;
  margin-bottom: 0.4rem !important;
  margin-top: 0.4rem !important;
}
