.restaurantHeader {
  color: #1f1f1f;
  background-color: #d47911;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: 0px 14px 15px -0.9px #0e0e0e;
  -moz-box-shadow: 0px 14px 15px -0.9px #0e0e0e;
  box-shadow: 0px 14px 15px -0.9px #0e0e0e;
}
.foodContainer {
  margin: 0.2%;
  color: #1f1f1f;
  background-color: #3b3b3b;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.3rem !important;
  max-height: 163px;
  -webkit-box-shadow: 0px 8px 44px -7px rgba(17, 17, 17, 0.8);
  -moz-box-shadow: 0px 8px 44px -7px rgba(17, 17, 17, 0.8);
  box-shadow: 0px 8px 44px -7px rgba(17, 17, 17, 0.8);
}
.foodContainer:hover {
  margin: 0%;
  color: #1f1f1f;
  background-color: #3b3b3b;
  border-radius: 10px;
  padding-left: 1rem;
  max-height: 163px;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  -webkit-box-shadow: 0 1px 14px -1px rgba(212, 121, 17, 0.8);
  -moz-box-shadow: 0 1px 14px -1px rgba(212, 121, 17, 0.8);
  box-shadow: 0 1px 14px -1px rgba(212, 121, 17, 0.8);
}
