.hideScrollBar {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

.priceColorClass {
    color : rgba(rgb(213, 99, 7), 1);
    margin-bottom: 1em;
}

.addDishButtonActive {
    background-color: rgba(rgb(213, 99, 7), 1);
    color: rgb(233, 233, 233);
    border-style: none;
}

.addDishButtonActive:hover {
    background-color: rgba(rgb(231, 108, 7), 1);
    color: rgb(241, 241, 241);
    border-style: none;
}

.customHasCenteredContent{
    margin: auto;
}

.dishImage {
    max-width: 210px;
    max-height: 110px;

    object-fit: fill;
    transition: .3s ease-in;
}

.dishImage:hover {
    max-width: 230px;
    max-height: 130px;

    object-fit: fill;
    transition: .3s ease-out;
}